/** Bouton haut de page **/
#scrollToTop {font-size: 0.9em;}
#scrollToTop a, 
#scrollToTop a:visited, 
#scrollToTop a:link, 
#scrollToTop a:hover, 
#scrollToTop a:focus, 
#scrollToTop a:active {
    display:block;
    color: #A1A1A1;
    position: fixed;
    right: 10px;
    bottom: 16px;
    height:30px;
    font-family: Times, Serif; /* Pour une compatibilité maximale de l'affichage de la flèche, ne pas modifier la police */
    font-size:230%;
    line-height:0;
    opacity:0.6;
    text-decoration: none;
    outline:0;
}